*.mat
*.asv
*.zip
*.pdf
*.png
*.jpeg
*.jpg
Service/
Data/
Pictures/
Video/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
Project_log
*/__pycache__/*
launch.json
tasks.json
!tacr_logo_bw.png
!candela.png
!doc.pdf
!sample_ieeg.mat